
.git/
source/node_modules
source/vendor
source/.env
source/.env.example
source/public/hot
source/public/build
source/public/storage
source/public/assets/uploads/*
!source/public/assets/uploads
source/tests
source/bootstrap/cache/*
!source/bootstrap/cache

/storage/*.key
source/.phpunit.result.cache
source/Homestead.json
source/Homestead.yaml
source/npm-debug.log
source/yarn-error.log
source/.editorconfig
source/.gitattributes
source/.gitignore
source/phpunit.xml
source/README.md