// Custom Global style

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: #FFFFFF;
}

.section-title,
.section-title-sm {
  font-weight: 500;
  line-height: 135%;
  color: $color-dark-2;
}

.section-title {
  font-size: 64px;
}

.section-title-sm {
  font-size: 40px;
}

.section-padding {
  padding: 60px 40px;
}

@media screen and (width <= 500px) {
  .section-padding {
    padding: 20px;
  }
}

@media screen and (width <= 575.98px) {
  .section-title {
    font-size: 45px;
  }
}

@media screen and (max-width: 400px) {
  .section-title {
    font-size: 35px;
  }
  .section-title-sm {
    font-size: 27px;
  }
}