$color-dark-1: #020E10;
$color-dark-2: #1B1B1B;
$color-dark-3: #2C313F;

$color-yellow: #FFD600;
$color-orange: #FF7F00;

$maduo-colors: (
    "color-dark-1":  $color-dark-1,
    "color-dark-2":  $color-dark-2,
    "color-dark-3":  $color-dark-3,
    "color-yellow": $color-yellow,
    "color-orange": $color-orange,
);