// Custom Bootstrap Variables
@import "abstracts/variables";

// Import Bootstrap functions, vars, mixins
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

// Bootstrap main import
@import 'bootstrap/scss/bootstrap';

@import "components/buttons";
@import "base/global";

@import "layouts/common/navbar";
@import "layouts/common/footer";

@import "layouts/pages/home";
@import "layouts/pages/contact-us-page";
@import "layouts/pages/services-page";
